<h2> new contract</h2>
<section class="mt-12">
  <div class="container">
    <div class="row gy-5">
      <div class="col-5">
        <div class="crad shadow-lg">
          <img class="card-img-top" />
          <div class="card-body">
            <h3 class="card-title">Your position:</h3>
            <p class="card-text">Description:</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Deposit:</li>
            <li class="list-group-item">Contract with:</li>
            <li class="list-group-item">Termination of transaction:</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link" color="primary">Partner profile</a>
            <a href="#" class="card-link">Status</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
