<h2 class="titleNewContract"> Transactions History </h2>
<form *ngIf="this.historyContracts.length > 0">

  <mat-form-field class="filter" appearance="standard">
    <mat-label>
      <mat-icon>search</mat-icon>
    </mat-label>

    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="authService.getIsAuth">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="depositSeller">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Deposit Seller
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="edit">{{row.depositSeller}} <i style="font-size:10px">(wei)</i> </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="depositBuyer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Deposit Buyer
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="edit">{{row.depositBuyer}} <i style="font-size:10px">(wei)</i></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="edit">{{row.date | date:'fullDate'}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Partner
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="editSpace">{{row.emailBuyer}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.status == 'Waiting'">
            <div class="orangeStatus">{{row.status}}</div>
          </div>
          <div *ngIf="row.status == 'Created'">
            <div class="orangeStatus">{{row.status}}</div>
          </div>
          <div *ngIf="row.status == 'Active'">
            <div class="greenStatus">{{row.status}}</div>
          </div>
          <div *ngIf="row.status == 'Closed'">
            <div class="greenStatus">{{row.status}}
              <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No contract has created yet..
          "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="contractPerPage" aria-label="Select page of users">
    </mat-paginator>
  </div>
</form>
<div *ngIf="this.historyContracts.length <= 0">
  <ul><br><br>
    No contract has finished yet
  </ul><br>
</div>
