<footer class="py-5 footerColor">

  <div class="container">
    <section class="section">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h4 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Trust Me
            </h4>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h4 class="text-uppercase fw-bold mb-4">
              Products
            </h4>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h4 class="text-uppercase fw-bold mb-4">
              Social
            </h4>
            <p>
              <a class="fab fa-instagram"> </a>
              <a href="https://www.instagram.com" class="ig">.</a>
            </p>
            <p>
              <a href="" class="fab fa-facebook"> </a>
              <a href="https://www.facebook.com" class="faa">.</a>

            </p>
            <p>
              <a href="" class="fab fa-twitter"> </a>
              <a href="https://www.twitter.com" class="tw">.</a>

            </p>
            <p>
              <a href="" class="fab fa-google"> </a>
              <a href="https://www.google.com" class="go">.</a>

            </p>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
            <h4 class="text-uppercase fw-bold mb-4">
              Contact
            </h4>
            <p><i class="fa fa-home me-3"></i> Tel Aviv, IL</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              trustme@transaction-org.il
            </p>
            <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>
    <p class="m-0 text-center text-light"> Trust Me Ltd is a company registered in Israel.<br>
      Copyright &copy;2022 TrustMe App. All rights reserved.</p>
  </div>
</footer>
