<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section >
  <div class="row">
 <div class="col-7 home">
    <img [src]="myImage" class="rounded-pill img">
  </div>
  <div class="col-5 text1">
    <h2>
      TrustMe is a digital transaction platform
      that completely protects you from being
      scammed when you're transacting with someone
      you don't know.
    </h2>
  </div>
</div>
</section>
<section *ngIf="mobile < 820">
    <div class="col-7 home2">
      <img [src]="myImage2" class="rounded-pill img" alt="...">
    </div>
  <h2 class="text2">
    Our solution was designed to give you peace
    of mind each time you’re engaging in an
    online or face-to-face transaction.
  </h2>
</section>
<section *ngIf="mobile >= 820">
  <div class="row">
    <div class="col-5">
      <h2 class="text2">
        Our solution was designed to give you peace
        of mind each time you’re engaging in an
        online or face-to-face transaction.
      </h2>
    </div>
    <div class="col-7 home2">
      <img [src]="myImage2" class="rounded-pill img" alt="...">
    </div>
  </div>
  </section>
