p {
  font-family: Lato;
}

.custom-toolbar {
  background-color: #2e49d2;
  padding: 5px 15px;

}

ul{
  list-style: none;
  padding: 0;
  display: flex;
}

li{
margin-left: 2px;
margin-top: 15px;
display: flex;
}



.title{
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #f1f1f1;
}

a{
  text-decoration: none;
  color: #f1f1f1
}

.spacer{
  flex: 1 1 auto;
}

.logoutcss{
  background-color: #2e49d2;
  outline: none;
  border-radius:0 !important;
  border-color: #2e49d2;
  font-family: sans-serif;
  color:#f1f1f1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;

}
