<h2 class="title">Recomendations</h2>
<mat-card class="card" *ngIf="this.recommendations.length > 0">
  <form *ngFor="let rec of this.recommendations">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <div>
          <div>
            <mat-icon color="primary" class="star">star</mat-icon>
            <div class=name>
              {{rec.senderName}}
            </div>
          </div>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="message">{{rec.content}}</div>
      </mat-card-subtitle>

    </mat-card-header>
    <br>
  </form>
</mat-card>
<form class="note" *ngIf="this.recommendations.length <= 0">
  <div>
    <ul class="btn-grad" mat-raised-button color="primary" mat-raised-button>
      No Recomendations Yet
    </ul><br>
  </div>
</form>
