<h2 class="titleNewContract"> New Contracts </h2>
<form *ngIf=" this.newContract.length > 0">
  <mat-accordion>
    <mat-expansion-panel class="newDeals" *ngFor="let contract of newContract">
      <mat-expansion-panel-header>
        <p><strong>Description: </strong> {{contract.description}}</p> &nbsp;&nbsp;
        <p><strong color="primary">Status:
            <span *ngIf="contract.status == 'Waiting'">
              <span class="orangeStatus">{{contract.status}}</span>
            </span>
            <span *ngIf="contract.status == 'Created'">
              <span class="orangeStatus">{{contract.status}}</span>
            </span>
            <span *ngIf="contract.status == 'Active'">
              <span class="close">{{contract.status}}</span>
            </span>
            <span *ngIf="contract.status == 'Closed'">
              <span class="close">
                <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>
                {{contract.status}}
              </span>
            </span>
          </strong></p>
      </mat-expansion-panel-header>
      <p><strong>Termination of transaction: </strong> {{contract.date | date:'fullDate'}}</p>
      <p><strong>Contract with": </strong> <span class="colorChange">{{contract.emailBuyer}}</span></p>
      <!-- <p><strong color="primary">Status:
          <span *ngIf="contract.status == 'Waiting'">
            <span class="orangeStatus">{{contract.status}}</span>
          </span>
          <span *ngIf="contract.status == 'Created'">
            <span class="orangeStatus">{{contract.status}}</span>
          </span>
          <span *ngIf="contract.status == 'Active'">
            <span class="close">{{contract.status}}</span>
          </span>
          <span *ngIf="contract.status == 'Closed'">
            <span class="close">
              <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>
              {{contract.status}}
            </span>
          </span>
        </strong></p> -->
      <!-- <mat-action-row>
        go to transaction
      </mat-action-row> -->
    </mat-expansion-panel>
  </mat-accordion>
</form>
<div class="newDeals" *ngIf=" this.newContract.length == 0">
  <ul>
    No contract has created yet
  </ul>
</div>
