<h1 class="title display-4 font-weight-bold mb-4">Your Contract's</h1>
<dialog-first class="center"></dialog-first>
<button class="btn-grad" mat-raised-button color="primary" mat-raised-button type="submit" *ngIf="contracts.length > 0"
  routerLink="/contract">
  New Transction
</button>
<section class="mt-12" multi="true" *ngIf="contracts.length > 0">
  <div class="container">
    <div class="row gy-5">
      <div class="col-5" *ngFor="let contract of contracts.slice().reverse() let i= index in contract">
        <div class="crad shadow-lg">
          <img class="card-img-top" />
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description:</strong>
              <div class="sizeAddresses">{{contract.description}}</div>

              <button class="btn-grad " mat-raised-button color="primary" (click)="toggle(i)">Show Details
              </button>
            </li>
            <div *ngIf="showMe[i]">
              <li class="list-group-item "><strong>Seller deposit:</strong>
                <br>
                <span class="sizeAddresses greenStatus">{{contract.depositSeller}}</span>
                <i style="font-size:10px"> (ether)</i>
              </li>
              <li class="list-group-item "><strong>Buyer deposit:</strong>
                <br>
                <span class="sizeAddresses greenStatus">{{contract.depositBuyer}} </span>
                <i style="font-size:10px"> (ether)</i>
              </li>
              <!-- <li class="list-group-item">
              <dialog-contract-list></dialog-contract-list>
            </li> -->
              <li class="list-group-item"><strong>Seller wallet address:</strong>
                <div class="sizeAddresses">{{contract.walletAddressSeller}}</div>
              </li>
              <li class="list-group-item"><strong>Buyer wallet address:</strong>
                <div class="sizeAddresses">{{contract.walletAddressBuyer}}</div>
              </li>
              <li class="list-group-item"><strong>Contract with:</strong> {{contract.emailBuyer}}</li>
              <li class="list-group-item"><strong>Termination of transaction:</strong>
                {{contract.date | date:'fullDate'}}
              <li class="list-group-item"><strong>Trade address ID:</strong>
                <span *ngIf="contract.status != 'Waiting'">
                  <div class="sizeAddresses">{{contract.tradeAddress}}</div>
                </span>
              </li>
            </div>
            <!-- dasdasdas -->
            <!-- *ngIf="loaderService.isLoading | async"  -->
            <li class="list-group-item" *ngIf="(contract.buyerPay == false)"><strong>Buyer payment status:</strong>
              <mat-icon class="icon1">clear</mat-icon>
            </li>
            <li class="list-group-item" *ngIf="(contract.buyerPay == true)"><strong>Buyer payment status:</strong>
              <mat-icon class="icon">done</mat-icon>
            </li>
            <li class="list-group-item" *ngIf="(contract.sellerPay == false)"><strong>Seller payment status:</strong>
              <mat-icon class="icon1">clear</mat-icon>
            </li>
            <li class="list-group-item" *ngIf="(contract.sellerPay == true)"><strong>Seller payment status:</strong>
              <mat-icon class="icon">done</mat-icon>
            </li>
            <li>
            <li class="list-group-item"><strong>Buyer contract agreement:</strong>
              <button mat-raised-button color="primary" class="btn-primary-pay"
                *ngIf="(contract.buyerId == userId && !contract.buyerAgreement)"
                (click)="setAgreement(contract.id ,contract.sellerAgreement ,true)" type="submit">
                <p>Confirm</p>
              </button>
              <span *ngIf="contract.buyerAgreement">
                <mat-icon class="icon">done</mat-icon>
              </span>
            </li>
            <li>
            <li class="list-group-item"><strong>Seller contract agreement:</strong>
              <button mat-raised-button color="primary" class="btn-primary-pay"
                *ngIf="(contract.buyerId != userId && !contract.sellerAgreement)"
                (click)="setAgreement(contract.id ,true ,contract.buyerAgreement)" type="submit">
                <p>Confirm</p>
              </button>
              <span *ngIf="contract.sellerAgreement">
                <mat-icon class="icon">done</mat-icon>
              </span>
            </li>
            <li>
              <div class="card-body">
                <a [routerLink]="['/partner', contract.emailBuyer]" class="card-link-1" color="primary">Partner
                  profile</a>&nbsp;
                <a class="card-link" *ngIf="contract.status == 'Waiting'">
                  <strong>Status:</strong>
                  <span class="orangeStatus">
                    {{contract.status}}
                  </span>
                  <div *ngIf="contract.buyerId == userId">
                    <p>Confirm the context of the contract</p>
                    <button mat-raised-button color="primary" class="btn-primary-pay"
                      (click)="confirmContract(contract.escrowId ,contract.sellerPay ,contract.buyerPay, 'Created')"
                      type="submit">
                      <p>Confirm</p>
                    </button>
                  </div>
                  <div *ngIf="contract.buyerId != userId">
                    <p> Waiting for your partner agreement..</p>
                  </div>
                </a>
                <a class="card-link" *ngIf="contract.status == 'Active'">
                  <strong>Status:</strong>
                  <span class="greenStatus">
                    {{contract.status}}
                  </span>
                </a>
                <a class="card-link">
                  <strong *ngIf="contract.status == 'Created'"> &nbsp;
                    Status:
                  </strong>
                  <span *ngIf="contract.status == 'Created'" class="orangeStatus">
                    {{contract.status}}
                  </span>
                </a>
                <br>
                <div *ngIf="contract.status == 'Created'">
                  <form ngNoForm class="formDesign" action="http://localhost:3000/viewContract" method="post">
                    <br>
                    <input type="hidden" name="escrowId" value={{contract.escrowId}} />
                    <input type="hidden" name="token" value="1 {{token}}" />

                    <p class="CheckText">The money should be sent to the address of the contract.
                      Click the <strong>Update Payment</strong> button to check payment status</p>
                    <button mat-raised-button color="primary" class="btn-primary-confirm"
                      (click)="confirmContract(contract.escrowId ,contract.sellerPay  , contract.buyerPay, contract.status )"
                      type="submit">
                      <p>Update Payment</p>
                    </button><br>
                  </form>
                </div>
                <div *ngIf="contract.status == 'Active' && (contract.buyerAgreement && contract.sellerAgreement)">
                  <form ngNoForm class="formDesign" action="http://localhost:3000/setAgreement" method="post">
                    <br>
                    <input type="hidden" name="escrowId" value={{contract.escrowId}} />
                    <input type="hidden" name="token" value="1 {{token}}" />
                    <p class="CheckText">In order to terminate the contract requires the consent of both parties before
                      <strong>end date!</strong>
                    </p>
                    <button mat-raised-button color="primary" class="btn-primary-confirm"
                      (click)="confirmContract(contract.escrowId ,contract.sellerPay  , contract.buyerPay, contract.status )"
                      type="submit">
                      <p>Check Agreement</p>
                    </button>
                  </form>
                </div>
                <p *ngIf="!contract.buyerAgreement" style="color: red">Waiting for buyer agreement</p>
                <p *ngIf="!contract.sellerAgreement" style="color: red">Waiting for seller agreement</p>
                <div *ngIf="contract.status == 'Closed'">
                  <strong> &nbsp;
                    Status:
                  </strong>
                  <span class="close">
                    {{contract.status}}
                    <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>
                    <div class="dummy-positioning d-flex">
                      <div class="success-icon">
                        <div class="success-icon__tip"></div>
                        <div class="success-icon__long"></div>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><br>
<h5 *ngIf="contracts.length <= 0"> No contract created yet </h5>
<h6 *ngIf="contracts.length <= 0"> For your first transaction click the button below </h6>

<button class="btn-grad" mat-raised-button color="primary" mat-raised-button type="submit" *ngIf="contracts.length <= 0"
  routerLink="/contract">
  New Transction
</button>
