h1 {
  background-color: var(--vender-cyan);
  font-size: 35px; font-weight: 800;
  line-height: 90px;
  margin: 10px 0 24px;
  text-align: center;
  /* text-transform: uppercase;  */
}

.mat-icon{
  font-size:16px;
}


