<h2 class="title">Add Recomendation</h2>
<mat-card class="card">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" >
  <mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>
   <div>{{user.fullName}}</div>
  </mat-card-title>
  <mat-card-subtitle>
    <textarea type ="text" matInput name ="message" ngModel #message="ngModel" maxlength="50" rows="2"  required></textarea>
    <!-- <mat-hint >{{message.value.length}} / 50</mat-hint> -->
  </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end" >
    <button mat-button type="submit">Add</button>
  </mat-card-actions>
</form>
</mat-card>
