.backgroundImg{
background-image: url('../../../assets/home1.png');
/* display: flex; */
width: 100%;
height: 100vh;
background-size: cover;
}

h2 {
/* color: #111; */
font-family: 'Raleway',sans-serif;
font-size: 24px; font-weight: 600;
text-align: center;
background-color: var(--vender-cyan);
}

.design-card {
  width: 100%;
  height: 100vh;
  display:flex;
}

.card {
  position: relative;
  width: 200px;
  height: 250px;
  transform-style: preserve-3d;
  margin: 40px;
  text-align: center;
  justify-content: center;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: var(--vender-cyan);
}

.card .face{
  border-radius: 25px;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display:flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  transform: perspective(500px) rotateY(0deg);

}
.secure-title{
  margin-top:35%;
  margin-left:-30%
}

.reliable-title{
  margin-top:35%;
  margin-left:-25%
}

.card .face.front {
  background-color:#b2ebf2;
  /* background-color: var(--market-primary); */

}

.card:hover .face.front {
transform: perspective(500px) rotateY(180deg);

}

.card .face.back {
background-color:#b2ebf2;
/* background-color: var(--market-primary); */
transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
transform: perspective(500px) rotateY(360deg);
}

.card .face h2 {
  transform: perspective(500px) translateZ(50px);
}

.card .face p {
  font-size: 10px;
  transform: perspective(500px) translateZ(50px);
}

.secured {
  width:75px;
  height:auto;
  margin-top:-130px;
  margin-left: 10px;
}
.trust {
  width:75px;
  height:auto;
  margin-top:-130px;
}

.btn {
  top:50%;
  right:85%;
  width:100px;
  height:40px;
  position: absolute;
  z-index: 0.5;
  background: #FFD224;
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)
  }



  .btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
  .btn-grad {
    padding: 5px 10px;
    font: 14px "Helvetica Neue";
    font-weight: bold;
    right:-22%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
   }

   .video{
     top: -15%;
     margin-bottom:10px
   }

   .side-title{
    margin-top:50px;
    left: 100px;
    padding-left: 45px;
    display: flex;
    font-size: 16px; font-weight: 600;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }

   p{
    background-color: var(--vender-cyan);
  }

   .row-contanier{
      margin-top: 150px;
      margin-left: -300px;
      padding: 20px;
   }
