<mat-card class="design-card backgroundImg">

  <div class="row">
    <div class="card col-md-3">
      <div class="face front">
        <img src="../../../assets/securedPayment.png" class="secured">
        <h2>Secure Payment Solution</h2>
      </div>
      <div class="face back">
        <p>Trust Me is on of the best transaction platform that caters for all the different
          aspects in transactions that happen online and face to face
          whilst ensuring each transaction runs fairly.</p>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="face front">
        <img src="../../../assets/trust.png" class="trust">
        <h2>Reliable</h2>
      </div>
      <div class="face back">
        <p>Customers no longer have to place
          trust in someone that they don’t know.</p>
      </div>
    </div>
  </div>
  <!-- <div class="backgroundImg">
    <div class="sizing-small">
      <h2>Register to Start Transction</h2>
      <app-signup></app-signup>
    </div>
  </div> -->
</mat-card>
