.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  height:100%;
}

.mat-app-background{
  background-size: cover;
}

.card-image{
  background-size: cover;
  width: 100%;
  height:auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card-title{
  border-radius: 12px;
  margin-left:-15px;
  margin-top: -12px;
  font-family:sans-serif;
  width: 65%;
  justify-content:center;
  margin-left:auto;
  margin-right: auto;
}

.title {
  font-size:12px;
  height: 8px;
  margin-left:auto;
  margin-right: auto;
  justify-content:center;

}



h1, h2 {
  background-color: var(--vender-cyan);
  font-size: 30px; font-weight: 400;
  line-height: 55px;
  margin: 40 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.mat-h1{
  background-color: var(--vender-cyan);
  font-size: 24px; font-weight: 400;
  line-height: 55px;
  margin: 40 0 24px;
  text-align: center;
  text-transform: uppercase;
}
.mat-h2{
  background-color: var(--vender-cyan);
  font-size: 24px; font-weight: 400;
  line-height: 1px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
