<form [formGroup]="form">
<div>
  <div>
    <p *ngIf="imagePreview !== '' && imagePreview " >
      <img [src]="imagePreview" class="img-thumbnail" alt="..." />
    </p>
    <button mat-stroked-button type="button" (click)="filePicker.click()"> image button </button>
    <input type="file" #filePicker (change)="onImagePicked($event)" >
    <mat-error *ngIf="form.get('image')">error</mat-error>
    <a class="update">Update Details</a>
  </div>
  <mat-nav-list>
      <li>{{user.name}}</li>
      <li>{{user.phone}}</li>
      <li>{{user.email}}</li>
      <li>Rating</li>
  </mat-nav-list>
</div>
</form>
