<form [formGroup]="form" class="details" *ngIf="mobile >= 820">
  <div>
    <div>
      <!-- //check the valition of the image -->
      <!-- <p *ngIf="imagePreview !== '' && imagePreview" >
        <img [src]="imagePreview" class="img-thumbnail" [alt]="form.value.title"/>
      <p> -->
      <!-- <img src="" class="img-thumbnail" alt="..." /> -->
      <!-- </p> -->
      <!-- <button mat-stroked-button type="button" (click)="filePicker.click()">image button</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"> -->
      <!-- <mat-error *ngIf="form.get('image')?.invalid">error</mat-error> -->
    </div>
    <mat-nav-list *ngIf="this.user">
      <img src="../../../../assets/avatar.png" alt="Avatar" class="avatar">
      <p class="list">
        Name: <a>{{user.fullName}}</a>
      </p>
      <p class="list">
        Phone: <a>{{user.phone}}</a>
      </p>
      <p class="list">
        Email: <a>{{user.email}}</a>
      </p>
      <!-- <p class="list">
        <a class="update">Update Details</a>
      </p> -->
      <button class="btn-grad" mat-raised-button color="primary" mat-raised-button type="submit" routerLink="/contract">
        New Transction
      </button><br>
    </mat-nav-list>
  </div>
</form>

<!-- for mobile devices -->
<form [formGroup]="form" class="details" *ngIf="mobile < 820">
  <div>
    <div>
      <!-- //check the valition of the image -->
      <p *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" class="img-thumbnail" [alt]="form.value.title" />
      </p>
      <tr>
        <td class="image-button">
          <!-- <button class="update" mat-stroked-button type="button" (click)="filePicker.click()">image button</button>
          <input type="file" #filePicker (change)="onImagePicked($event)"> -->
        </td>
        <!-- <mat-error *ngIf="form.get('image')?.invalid">error</mat-error> -->
      </tr>
    </div>
    <mat-nav-list class="mat-nav-list" *ngIf="this.user">
      <img src="../../../../assets/avatar.png" alt="Avatar" class="avatar">
      <p class="list">
        Name: <a>{{user.fullName}}</a>
      </p>
      <p class="list">
        Phone: <a>{{user.phone}}</a>
      </p>
      <p class="list">
        Email: <a>{{user.email}}</a>
      </p>
      <!-- <p class="list">
        <a class="update">Update Details</a>
      </p> -->
      <button class="btn-grad" mat-raised-button color="primary" mat-raised-button type="submit" routerLink="/contract">
        New Transction
      </button><br>
    </mat-nav-list>
  </div>
</form>
