<form [formGroup]="form" class="details" *ngIf="mobile >= 820">
<div>
  <div>
    <!-- //check the valition of the image -->
    <p *ngIf="imagePreview !== '' && imagePreview" >
      <img [src]="imagePreview" class="img-thumbnail" [alt]="form.value.title"/>
    </p>
    <button mat-stroked-button type="button" (click)="filePicker.click()">image button</button>
    <input type="file"  #filePicker (change)="onImagePicked($event)">
    <!-- <mat-error *ngIf="form.get('image')?.invalid">error</mat-error> -->
    <a class="update">Update Details</a>
  </div>
  <mat-nav-list>
    <p class="list">
      <a>{{user.name}}</a>
    </p>
    <p class="list">
      <a>{{user.phone}}</a>
    </p>
    <p class="list">
      <a>{{user.email}}</a>
    </p>
    <p class="list">
      <a>Rating</a>
    </p>
  </mat-nav-list>
</div>
</form>

<!-- for mobile devices -->
<form [formGroup]="form" class="details" *ngIf="mobile < 820">
  <div>
    <div>
      <!-- //check the valition of the image -->
      <p *ngIf="imagePreview !== '' && imagePreview" >
        <img [src]="imagePreview" class="img-thumbnail" [alt]="form.value.title"/>
      </p>
      <tr>
        <td class="image-button">
      <button class="update" mat-stroked-button type="button" (click)="filePicker.click()">image button</button>
      <input type="file"  #filePicker (change)="onImagePicked($event)">
        </td>
        <td  class="update-button">
      <!-- <mat-error *ngIf="form.get('image')?.invalid">error</mat-error> -->
      <button class="update" mat-stroked-button type="button">Update Details</button>
       </td>
      </tr>
    </div>
    <mat-nav-list>
      <p class="list">
        <a>{{user.name}}</a>
      </p>
      <p class="list">
        <a>{{user.phone}}</a>
      </p>
      <p class="list">
        <a>{{user.email}}</a>
      </p>
      <p class="list">
        <a>Rating</a>
      </p>
    </mat-nav-list>
  </div>
  </form>
