table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.filter{
  width: 30%;
  margin-top: -40px;
  margin-left: 70%;
}

.titleNewContract{
  margin-bottom: -3%;
  margin-top: 5%;
}

mat-icon{
  transform: scale(1.25);

  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
}
