.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.edit {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.greenStatus{
  color: #00cd60;
  font-weight: bold;
}
.orangeStatus{
  color: #eb9b32;
  font-weight: bold;
}

.editSpace{
  margin-left:-15px;
  padding-right: 10px;
}

mat-paginator {
  margin-top: 1rem
}

.filter{
  width: 20%;
  margin-top: -40px;
  margin-left: 60%;
}

.titleNewContract{
  margin-bottom: -3%;
  margin-top: 5%;
  /* margin-left: 10%; */
}

div{
  width: 80%;
  /* margin-left: 10%; */
  margin-right: 70%;
}

table{
  width: 100%;
}

mat-icon{
  transform: scale(1.25);
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
}

.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
  .btn-grad {
    margin: 10px;
    padding: 5px 10px;
    font: 12px "Helvetica Neue";
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    margin-top: 5%;
    /* box-shadow: 0 0 20px #eee; */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
   }


   .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media only screen and (max-width: 820px) {
  /* For mobile phones: */
  .phone{
     width: 100%;
  }
  div{
    margin-left:2.5%;
    width: 95%;
  }
  .titleNewContract{
    margin-left: 3%;
  }
  .filter{
    width: 30%;
    margin-top: -40px;
    margin-left: 65%;
  }
}

td{
  font-size:12px;
}
