/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
main {
  width: 100%;
  margin: 1rem auto;
  margin-left: 25px;
  margin-top: 40px;

}

app-nav{
  width: 100%;
  display: inline-block;
}

