 .leftImage{
  margin-top: 30px;
  right: -100px;
  width: 50%;
  display: inline-block;
  overflow-x: hidden;
  position:relative;
}

.rightImage{
  right: -200px;
  margin-top:30px;
  width: 50%;
  display: inline-block;
  overflow-x: hidden;
  position:relative;
}


.home img{
  margin-left: auto;
  width: 50%;
}

/* .home2 img{
  margin-left: 50%;
  width: 50%;
} */

.homecontent{
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.homecontent2{
  position: absolute;
  top: 75%;
  right: 70%;
  transform: translate(10%, -50%);
}
