.table{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.titleNewContract{
  margin-top: 50px;
  margin-left: 0px;
}

.row{
  width: 100%;
}

.recomendation{
  margin-top: 50px;
}

.tableHistory{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
