mat-drawer{
  width: 100%;
}
.example-container{
  width: 100%;
  /* margin-left: ; */
}
.example-drawer{
  width: 20%;
  margin-left: 80%;
}

.example-content{
  width: 60%;
  margin-right: -10%;
}
/* .table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
} */

/* .titleNewContract{
  margin-top: 50px;
  margin-left: 0px;
} */

/* .details{
  margin-top: 3%;
}

.recomendation{
  margin-top: 50px;
}

.tableHistory{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
} */

