.mat-drawer{
  width: 100%;
}
.example-container{
  width: 100%;
  /* margin-left: ; */
}
.example-drawer{
  width: 20%;
  /* margin-left: 50%; */
}

.example-content{
  width: 80%;
  margin-left: 7%;
  /* margin-right: 10%; */
}


