<h1>profile works!</h1>
<section>
  <div class="row">
    <div class="col-6">
    <p>
      <img src="..." class="img-thumbnail" alt="...">
    </p>
    <a>Update Details</a>
    </div>
    <div class="col-3">
    <p>
    <mat-form-field>
      <input matInput name="Name" ngModel type="text" placeholder="Name">
    </mat-form-field>
    </p>
    <mat-form-field>
      <input matInput name="Phone" ngModel type="Phone" placeholder="Phone">
    </mat-form-field>
    </div>
    <div class="col-3">
      <p>
      <mat-form-field>
        <input matInput name="Email" ngModel type="Email" placeholder="Email">
      </mat-form-field>
      </p>
      <mat-form-field>
        <input matInput name="Rating" ngModel type="Rating" placeholder="Rating">
      </mat-form-field>
      </div>
  </div>
</section>
<section class="table">
  <h2 class="titleNewContract"> New deals </h2>
  <mat-accordion >
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        bbbbbbb
      </mat-expansion-panel-header>
        content
        <mat-action-row>
          example
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</section>
<section class="tableHistory">
  <h2 class="titleNewContract"> Transactions History </h2>
  <app-transaction-history></app-transaction-history>
</section>
<section class="recomendation">
<app-recomendation></app-recomendation>
</section>
