.sidenav-container {
  height: 70%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

p {
  font-family: Lato;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-left: 2px;
  margin-top: 15px;
  display: flex;
}

.title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.example-spacer {
  flex: 1 1 auto;
}

.logoutcss {
  outline: none;
  border-radius: 0 !important;
  font-family: sans-serif;
  color: #f1f1f1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.loader-container {
  position: absolute !important;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}

.icon{
  width: 50%;
}

