// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$vender-cyan: (
50: #e0f7fa,
100: #b2ebf2,
200: #80deea,
300: #4dd0e1,
400: #26c6da,
500: #00C2CB,
600: #00acc1,
700: #0097a7,
800: #00838f,
900: #006064,
A100: #84ffff,
A200: #18ffff,
A400: #00e5ff,
A700: #00b8d4,
contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $dark-primary-text,
  600: $dark-primary-text,
  700: $dark-primary-text,
  800: $dark-primary-text,
  900: $light-primary-text,
  A100: $dark-primary-text,
  A200: $dark-primary-text,
  A400: $dark-primary-text,
  A700: $dark-primary-text,
  )
);

$vender-blueGrey: (
50: #757ce8,
100: #cfd8dc,
200: #b0bec5,
300: #90a4ae,
400: #78909c,
500: #3F50B5,
600: #546e7a,
700: #455a64,
800: #37474f,
900: #002884,
A100: #cfd8dc,
A200: #b0bec5,
A400: #78909c,
A700: #455a64,
contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $dark-primary-text,
  600: $dark-primary-text,
  700: $dark-primary-text,
  800: $dark-primary-text,
  900: $light-primary-text,
  A100: $dark-primary-text,
  A200: $dark-primary-text,
  A400: $dark-primary-text,
  A700: $dark-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$market-primary: mat-palette($vender-cyan);
$market-accent: mat-palette($vender-cyan);
$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme($market-primary, $market-accent, $market-warn);
@include angular-material-theme($market-theme);

//for dark theme
$market-primary-dark: mat-palette($vender-cyan);
$market-accent-dark: mat-palette($vender-blueGrey);
$market-warn-dark: mat-palette($mat-red);

$market-theme-dark: mat-dark-theme($market-primary-dark, $market-accent-dark, $market-warn-dark);
.dark-theme-mode {
    @include angular-material-theme($market-theme-dark);
}
