.example-card {
  max-width: 400px;
}

.card{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5%;
}

.title{
  margin-top: 5%;
  width: 80%;
}

.mat-card-subtitle{
  font-size: 10px !important;
}

.message{
  font-size: 12px;
  font-weight: normal;
}

.star{
  font-size: 0.90em;
  margin:-30px;
  position: relative;
}

.name{
  position: relative;
  margin-top: -20px;
  font-size: 14px;
}

.note{
  width: 80%;
  margin-right: auto;
  margin-top: -3%;
}

.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
  .btn-grad {
    margin: 10px;
    padding: 5px 10px;
    font: 12px "Helvetica Neue";
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    margin-top: 5%;
    /* box-shadow: 0 0 20px #eee; */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
   }


   .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media only screen and (max-width: 820px) {
  /* For mobile phones: */
  .card{
    width: 95%;
    margin-left: auto;
  }

  .title{
    margin-left: 3%;
  }

  .note{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -3%;
  }
}
