<container [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <div>
    <h1 mat-dialog-title color="primary"><i class="fab fa-ethereum fa-1x"></i>&nbsp;
      Ethereum Unit Explaination</h1>
  </div>
  <div mat-dialog-content color="primary">Simple Unit Explaination</div>
  <div mat-dialog-contentcolor="primary">Wei is a unit of Ethereum (ETH) crypto-currency. 1 ETH = 1000000000000000000
    Wei.
  </div>
  <div mat-dialog-actionscolor="primary"><br>
    <button color="primary" mat-button mat-dialog-close>Close</button>
  </div>
</container>
