.backgroundImg{
  background-image: url('../../..../../../../assets/Transcations_img.png');
  display: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.formDesign{
  margin-left: 35px;
  padding-top:35px;
}

.mat-card{
  height: 100vh;
  width: 100%;
}



button{
  margin-top:20px;

}
