<mat-card class="backgroundImg">
  <form (submit)="onAddContract(contractForm)" #contractForm="ngForm" class="formDesign">
    <!-- <mat-button-toggle-group name="side" ngModel #side="ngModel" required>
      <mat-button-toggle value="Seller">Seller</mat-button-toggle>
      <mat-button-toggle value="Buyer">Buyer</mat-button-toggle>
    </mat-button-toggle-group> -->
    <!-- <p>
      <mat-error *ngIf="side.invalid"> First please enter your position</mat-error>
    </p> -->
    <br>
    <mat-form-field>
      <input matInput type="text" name="description" ngModel required minlength="3" placeholder="Description"
        #description="ngModel">
      <mat-error *ngIf="description.invalid">please enter a description</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" name="depositSeller" min="0" ngModel required placeholder="Seller Price"
        #depositSeller="ngModel">
      <mat-error *ngIf="depositSeller.invalid">please enter a current price</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" name="depositBuyer" min="0" ngModel required placeholder="Buyer Price"
        #depositBuyer="ngModel">
      <mat-error *ngIf="depositBuyer.invalid">please enter a current price</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" name="walletAddressSeller" ngModel walletAddressSeller required
        placeholder="Seller address" #walletAddressSeller="ngModel">
      <mat-error *ngIf="walletAddressSeller.invalid">Seller Address</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" name="walletAddressBuyer" ngModel walletAddressBuyer required
        placeholder="Buyer address" #walletAddressBuyer="ngModel">
      <mat-error *ngIf="walletAddressBuyer.invalid">Buyer Address</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="email" name="email" ngModel email required placeholder="Send a contract to"
        #email="ngModel">
      <mat-error *ngIf="email.invalid">please enter a email address</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Termination of transaction</mat-label>
      <input matInput [matDatepicker]="myDatePicker" [min]="minDate" name="date" ngModel #date="ngModel" required>
      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
