<form [formGroup]="form" class="details" *ngIf="mobile >= 820">
  <div>
    <div>
    </div>
    <mat-nav-list *ngIf="this.user">
      <img src="../../../../assets/avatar.png" alt="Avatar" class="avatar">
      <p class="list">
        Name: <a>{{user.fullName}}</a>
      </p>
      <p class="list">
        Phone: <a>{{user.phone}}</a>
      </p>
      <p class="list">
        Email: <a>{{user.email}}</a>
      </p>
    </mat-nav-list>
  </div>
</form>

<!-- for mobile devices -->
<form [formGroup]="form" class="details" *ngIf="mobile < 820">
  <div>
    <div>
      <!-- //check the valition of the image -->
      <p *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" class="img-thumbnail" [alt]="form.value.title" />
      </p>
    </div>
    <mat-nav-list class="mat-nav-list" *ngIf="this.user">
      <img src="../../../../assets/avatar.png" alt="Avatar" class="avatar">
      <p class="list">
        Name: <a>{{user.fullName}}</a>
      </p>
      <p class="list">
        Phone: <a>{{user.phone}}</a>
      </p>
      <p class="list">
        Email: <a>{{user.email}}</a>
      </p>
    </mat-nav-list>
  </div>
</form>
